@page "/"
@using Blazored.SessionStorage
@using WebApp.Service
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject ISessionStorageService sessionStorage
@inject NavigationManager nav
@inject LoginService loginService

<PageTitle>HoldHub</PageTitle>

<h1>Fantasihold FC</h1>
