@page "/"
@using Blazored.SessionStorage
@using Core.Model
@using WebApp.Service
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject ISessionStorageService sessionStorage
@inject NavigationManager Nav
@inject LoginService LoginService


<PageTitle>HoldHub</PageTitle>

<h1>Fantasihold FC</h1>

@code {

    protected override async Task OnInitializedAsync()
    {
        var loggedIn = LoginService.CurrentUser ?? await sessionStorage.GetItemAsync<User?>("user");
        if (loggedIn is null)
        {
            Nav.NavigateTo("login");
        }
    }

}
